body {
    background-color: #282c34;
}

.wrapper {
    text-align: center;
}

.app {
    display: inline-block;
    // max-width: 1400px;
    margin: 40px auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.tabs {
    display: flex;

    &_item {
        padding: 5px;
        background-color: #616161;
        border-right: 1px solid black;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    .active {
        background-color: #919191;
        box-shadow: none;
    }
}
